<footer id="footer" class="footer">
    <div class="footer-content">
      <h2>J
        <span class="notLogo">oaquín&nbsp;</span> 
        <span style="color:gold">M</span> 
        <span class="notLogo">ateo&nbsp;</span>
        A
        <span class="notLogo">guirre</span></h2>
      <h5>Fullstack Web Developer &nbsp; | &nbsp; &nbsp; Bioengineering Student</h5>
      <h5>joaquin.aguirre@ingenieria.uner.edu.ar</h5>
      <div class="social-network">
        <li><a href="https://www.instagram.com/ag_joaquin/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="www.linkedin.com/in/jmaguirre99/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <!-- <li><a href="https://www.twitter.com" target="_blank" ><i class="fab fa-twitter"></i></a></li>-->
        <li><a href="https://www.facebook.com/agjoaquin" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.github.com/agjoaquin" target="_blank"><i class="fab fa-github"></i></a></li>
      </div> 
     
    </div>
  
  </footer>
